@media screen and (max-width:576px) {

    nav,
    .we-are-gamer, .footer-option  {
        flex-direction: column;


    }
   #logo{
padding-left: 90px;
    }

    .nav-section {
        flex-direction: column;
        text-align: center;
    }

    .nav-section a {
        margin-bottom: 20px;
    }

    .logo-section {
        margin-bottom: 20px;
        width: 100%;
    }

    .banner {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }

    .banner-content {
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .banner-heading {
        margin-bottom: 100px;
    }

    .banner-picture img {
        width: 100%;
        height: auto;
        margin-left: 0;
    }

    .btn-primary {
        margin-bottom: 20px;
    }

    .we-gamer-picture img {
        width: 100%;
        height: auto;

    }

    .we-are-gamer {
        padding: 0;
        flex-direction: column;

    }

    .gamer-content {

        text-align: center;
    }

    .grid-container {
        grid-template-columns: 1fr;
    }

    /* play section */
    .play-section {

        flex-direction: column;
        align-items: center;
    }

    .play-content {
        text-align: center;
        padding: 0;
        width: 100%;
        margin-bottom: 30px;
    }

    .play-instant-picture {
        width: 100%;
    }

    .play-instant-picture img {
        width: 300px;
        margin-left: 60px;
    }

    .small-picture img {
        width: 180px;
        height: 180px;
        bottom: 120px;
        right: 120px;

    }

    .careers {
        flex-direction: column;
        margin-top: 0;

    }

    .careers-content {
        width: 90%;
        text-align: center;
        padding: 0;
        text-align: left;

    }

    .careers-description {
        font-size: 11px;
        margin-bottom: 30px;
    }

    .careers-list {
        width: 100%;
    }

    .div1,
    .div2 {
        font-size: 10px;
        margin-bottom: 30px;
    }

    .career-img img {
        width: 100%;
        height: auto;
        padding: 40px 30px;

    }
    footer{
       
        height: auto;
    }
    .logo-section{
        margin: 0;
    }

    .footer-option{

        grid-template-columns: repeat(3, 1fr);
    }

    .footer-content {
        padding: 50px;
        /* flex-direction: column; */
    }
    .grid-container2{
        grid-template-columns: repeat(2, 1fr);
        margin-bottom: 50px;
    }
    .social-links{
        width: 100%;
    }
    .policy{
       grid-template-columns:repeat(4, 1fr) ;
    }
    .end{
    margin-bottom: 50px;
}


}

